[submodule "navigation2"]
	path = navigation2
	url = https://github.com/solarbean23/navigation2.git
	branch = humble
[submodule "OrbbecSDK_ROS2"]
	path = OrbbecSDK_ROS2
	url = https://github.com/solarbean23/OrbbecSDK_ROS2.git
	branch = v2-main
